
$void: #0e0b16;
$niceblue: #0e01b6;
$jewel: #4717F6;
$fuschia: #a239ca;
$stark: #e7dfdd;
$theturk: #66fcf1;

$blueblack: #011727;

$relturk: #00848b;
$hovercolor:#00cdd7;
$greyBackground:#d1d7e0;

$aGrey: #858585;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // overflow: hidden;
}
html.homepage{
  overflow: hidden;
}

body {
  font-family: 'dinlight', 'helvetica', 'arial', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  position: relative;
  // border: 25px solid ghostwhite;
}

div.wrapper {
  position: relative;
  width: 85%;
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-size: 0px;
}

a {
  text-decoration: none;
}

// div.content::-webkit-scrollbar {
//     width: 10px;
// }
//
// div.content::-webkit-scrollbar-track {
//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }

div.nav {
  position: fixed;
  top: 0;
  width: 85%;
  margin: 0 auto;
  height: 70px;
  z-index: 1000;
  mix-blend-mode:difference;
  // background: green;
  max-width: 1920px;
  div.logo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left:0;
    transform: translate(0%, 50%);
    a {
      font-size: 16px;
      padding: 2px 5px;
      span {
        color:$stark;
        display: inline-block;
        letter-spacing: 3px;
      }
      span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color:white;
        margin-left: 2px;
      }
      span.square {
        color:white;
        margin-left: 3px;
        background: $theturk;
        background: $relturk;
        transition: 0.2s ease;
        width: 6px;
        height: 6px;
      }
      &:hover {
        span.square {
          background: $hovercolor;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  div.item  {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 0;
    font-size: 0;
    transform: translate(50%, 50%);
    &.contact { right: 33px;} // width 66px at 13px font-size
    &.thinking { right: calc(35px + 66px + 33px);}   // width 70px
    &.about { right: calc(35px + 66px + 33px + 70px + 25px);}
    a {
      font-family: 'dinmedium', sans-serif;
      text-transform: uppercase;
      padding: 2px 5px;
      font-size: 14px;
      color:$relturk;
      color: $stark;
      letter-spacing: 2px;
      transition: 0.2s ease;
      &:hover {
        font-size: 15px;
        color:$hovercolor;
        color: white;
        letter-spacing: 2px;
      }
    }
    &.active a{
      color:$hovercolor;
      color: white;
      font-size: 15px;
      letter-spacing: 2px;
    }

  }
}

h2.title {
  text-align: center;
  position: absolute;
  transition: 0.4s ease;
  font-size: 18px;
  display: block;
  left: 0%;
  transform: translate(0%, -50%);
  width: 100%;
  top: 50%;
  color: $blueblack;
  div {
    font-size: 170%;
  }
  span {
    font-family: 'dinmedium', sans-serif;
    font-size: 140%;
    color: $hovercolor;
    // color: $blueblack;
  }
  span.colorful {
    font-size: 160%;
    // background: -webkit-linear-gradient(left,#35d6d1 12%,#ecff28 88%) no-repeat;
    // background: -webkit-linear-gradient(left,#35d6d1 12%,#e0043f 88%) no-repeat;
    // -webkit-background-clip: text;
    color: #b4f25f;
    color:#e0043f;
    // -webkit-text-fill-color: transparent;
  }

  &.story-enter {
    opacity: 0.01;
    transform: translate(0%, -300%);
  }
  &.story-leave {
    opacity: 0.01;
    transform: translate(0%, 100%);
  }
  &.story-appear {
    opacity: 0.01;
    transform: translate(0%, -300);
  }
}

div.homepage {
  position: absolute;
  width: 100%;
  height: 100vh;
  // border: 14px solid #f2f4f7;
  // border: 12px solid $stark;
  background: $greyBackground;
  color: $stark;
}

div.page {
  height: 100vh;
  &:after {
    content: "";
    display: block;
    z-index: 0;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
    position: fixed;
    // width: 100vh;
    // height: 100vh;
    border: 12px solid $hovercolor;
  }
  // border: 13px solid ghostwhite;
  > span {
    display: block;
    height: 100%;
  }
}
span.innerpage {
  position: relative;
  display: block;
  height: 100%;
  // border: 12px solid ghostwhite;  //////////////////////////////
  // border: 16px solid #03acb5;
  // border: 12px solid $hovercolor;
  // border: 16px solid red;
  overflow: hidden;
  div.dropdown {
    width: 100%;
    height: 0%;
    background: $blueblack;
    color: $stark;
    transition: 1.2s ease;
  }
  div.content {
    height: 100%;
    width: 100%;
    transition: height 1.2s ease;
    transition: padding-top 2s ease-out;
    padding-top: 0vh;
    background: white;
    position: relative;
    overflow: scroll;
  }

  &.contact {
    div.dropdown { background: #2d283e; } //
    div.dropdown { background: $blueblack; } //
    div.dropdown { background: $hovercolor; }
    div.content { background: #d1d7e0; } //
  }
  &.thinking {
    div.dropdown { background: #4cd3bb ; } // #4cd3bb mint
    div.content { background: #eae5e4; } // #eae5e4 grey

    div.dropdown { background: #2d283e; } //
    div.dropdown { background: $hovercolor; }
    div.content { background: #d1d7e0; } //
  }
  &.about {
    div.dropdown {  background: #314455;  } //
    div.dropdown { background: $hovercolor; }
    div.content { background: #c96567;}
    div.content { background: #d1d7e0; } //
  }

  &.SlideIn-appear {
    div.dropdown { height: 0vh; }
    div.content  { height: 100%; padding-top: 100vh; }
  }
  &.SlideIn-appear.SlideIn-appear-active {
    div.dropdown { height: 100%; }
    div.content  { height: 0vh; padding-top: 100vh;}
  }
}

div.blogPost {
  position: relative;
  margin: 5% auto;
  font-size: 0px;
  width: 75%;
  text-align: left;
  overflow: hidden;
  &:nth-of-type(1) { margin-top: 15% }
  &:nth-of-type(even) > div { float: right; }
  // &:nth-of-type(3n) > div { margin: 0 25%;}
  // &:nth-of-type(4n) > div { margin: 0 10%;}
  > div {
    float: right;
    max-width: 50vw;
    // max-height: 300px;
    width: 100%;
    height: 100%;
    // position: absolute;
    // background: green;
    // height: 250px;
    overflow: visible;
    a {
      display: block;
      width: 100%;
      img {
        // position: absolute;
        transition: 0.6s ease;
        width: 100%;
        height: 100%;
      }
    }
  }

  // &:nth-of-type(even) {
  //   // background: tomato;
  //   h4 {
  //     // mix-blend-mode: difference;
  //     font-family: 'dinmedium', sans-serif;
  //     position: absolute;
  //     color: white;
  //     color: $hovercolor;
  //     left: 8%;
  //     top: 32%;
  //     font-size: 47px;
  //     z-index: 10;
  //     transition: 0.15s ease-out;
  //     text-transform: uppercase;
  //   }
  //   span.date {
  //     display: none;
  //     position: absolute;
  //     left: 20%;
  //     top: 52%;
  //     font-size: 24px;
  //     z-index: 10;
  //     color: $relturk;
  //     transition: 0.15s ease-out;
  //   }
  //   span.summary {
  //     // mix-blend-mode: difference;
  //     display: block;
  //     position: absolute;
  //     left: 8%;
  //     top: 52%;
  //     font-size: 22px;
  //     z-index: 10;
  //     width: 40%;
  //     color: $hovercolor;
  //     text-align: left;
  //     transition: 0.15s ease-out;
  //   }
  //
  //   > div {
  //     a {
  //       &:hover {
  //         img {
  //           transform: scale(1.1, 1.1);
  //         }
  //       }
  //     }
  //   }
  // }
  &:nth-of-type(n) {
    transition: 0.3s ease-out;
    // background: tomato;
    cursor: pointer;
    &:after {
      content:"";
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: transparent;
      background: $hovercolor;
      opacity: 0;
      transition: 0.15s ease-out;
      z-index: 8;
        mix-blend-mode:difference;
    }
    h4 {
      // mix-blend-mode: difference;
      // font-family: 'dinmedium', sans-serif;
      position: absolute;
      color: $blueblack;
      // color: $hovercolor;
      left: 0;
      top: 1px;
      font-size: 18px;
      z-index: 10;
      transition: 0.15s ease-out;
      text-transform: uppercase;
    }
    span.summary {
      display: block;
      position: absolute;
      left: 0px;
      top: 35px;
      font-size: 14px;
      z-index: 10;
      color: $blueblack;
      transition: 0.15s ease-out;
      width: 27%;
    }

    &:hover {
      box-shadow: 1px 30px 35px rgba(0, 205, 215, 0.25);
      &:after {
        opacity: 0.87;
        // background: $blueblack;
        // background: $hovercolor;
        // mix-blend-mode:difference;
      }
      h4, span.summary {
        color: $hovercolor;
        left: 2%;
        top: 18px;
      }
      span.summary {
        top: 52px;
      }
    }
    > div {
      position: relative;
      a {
        // position: absolute;
        background: red;
      }
    }
  }
}



canvas {
  border: 13px solid ghostwhite;
  width: 100%;
  height: 100%;
  // margin: 13px;
  // background: $blueblack;
  // background: grey;
}

div.footer {
  height: 14vh;
  background: $blueblack;
  position: relative;
  div.logo {
    display: inline-block;
    position: absolute;
    top: 7vh;
    left:0;
    transform: translate(0%, -50%);
    a {
      font-size: 16px;
      padding: 2px 5px;
      span {
        color:$aGrey;
        display: inline-block;
        letter-spacing: 3px;
      }
      span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color:$stark;
        margin-left: 2px;
      }
      span.square {
        color:white;
        margin-left: 3px;
        background: $theturk;
        background: $relturk;
        transition: 0.2s ease;
        width: 6px;
        height: 6px;
      }
      &:hover {
        span.square {
          background: $hovercolor;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

// .SlideIn-appear {
//   background: green;
//   // transform: translateX(30px);
//   // opacity: 0;
// }
// .SlideIn-appear.SlideIn-appear-active {
//   // background: red;
//   height: 120vh;
//   // opacity: 1;
//   // transform: translateX(0);;
//   // transition: all 0.6s linear;
// }
// .SlideIn-enter {
//     opacity: 0;
//     transform: translateX(30px);
// }
// .SlideIn-enter.SlideIn-enter-active {
//     opacity: 1;
//     transform: translateX(0);
//     transition: all 0.2s linear 0.4s;
// }
// .SlideIn-leave {
//     opacity: 1.0;
//     transform: translateX(0);
// }
// .SlideIn-leave.SlideIn-leave-active {
//     opacity: 0;
//     position: absolute;
//     width: 100%;
//     transform: translateX(-30px);
//     transition: all 0.2s linear;
// }

h2.aboutHeading {

}
div.aboutTicket {
  h2 {

  }
  div {
    
  }
}

@font-face {
    font-family: 'dinregular';
    src: url('dinregularalternate-webfont.eot');
    src: url('dinregularalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinregularalternate-webfont.woff2') format('woff2'),
         url('dinregularalternate-webfont.woff') format('woff'),
         url('dinregularalternate-webfont.ttf') format('truetype'),
         url('dinregularalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinregular';
    src: url('dinregular-webfont.eot');
    src: url('dinregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinregular-webfont.woff2') format('woff2'),
         url('dinregular-webfont.woff') format('woff'),
         url('dinregular-webfont.ttf') format('truetype'),
         url('dinregular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinregular';
    src: url('dinmediumalternate-webfont.eot');
    src: url('dinmediumalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinmediumalternate-webfont.woff2') format('woff2'),
         url('dinmediumalternate-webfont.woff') format('woff'),
         url('dinmediumalternate-webfont.ttf') format('truetype'),
         url('dinmediumalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinmedium';
    src: url('dinmedium-webfont.eot');
    src: url('dinmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinmedium-webfont.woff2') format('woff2'),
         url('dinmedium-webfont.woff') format('woff'),
         url('dinmedium-webfont.ttf') format('truetype'),
         url('dinmedium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinlight';
    src: url('dinlight-webfont.eot');
    src: url('dinlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinlight-webfont.woff2') format('woff2'),
         url('dinlight-webfont.woff') format('woff'),
         url('dinlight-webfont.ttf') format('truetype'),
         url('dinlight-webfont.svg#dinlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('dinlightalternate-webfont.eot');
    src: url('dinlightalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinlightalternate-webfont.woff2') format('woff2'),
         url('dinlightalternate-webfont.woff') format('woff'),
         url('dinlightalternate-webfont.ttf') format('truetype'),
         url('dinlightalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('dinbold-webfont.eot');
    src: url('dinbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinbold-webfont.woff2') format('woff2'),
         url('dinbold-webfont.woff') format('woff'),
         url('dinbold-webfont.ttf') format('truetype'),
         url('dinbold-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dinregular';
    src: url('dinblackalternate-webfont.eot');
    src: url('dinblackalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinblackalternate-webfont.woff2') format('woff2'),
         url('dinblackalternate-webfont.woff') format('woff'),
         url('dinblackalternate-webfont.ttf') format('truetype'),
         url('dinblackalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
