
$void: #0e0b16;
$niceblue: #0e01b6;
$jewel: #4717F6;
$fuschia: #a239ca;
$stark: #e7dfdd;
$theturk: #66fcf1;

$blueblack: #011727;
// $blueblack: white;

$relturk: #00848b;
// $hovercolor:#00cdd7;
$hovercolor:#4cd3bb;
// $greyBackground:#d1d7e0;
$greyBackground:#eae5e4;
// $greyBackground:white;

$aGrey: #858585;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}
html.homepage{
  overflow: hidden;
}

body {
  font-family: 'dinlight', 'helvetica', 'arial', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  position: relative;
  // height: 150vh;
  // background: red;
  // border: 25px solid ghostwhite;
}

div.border {
  position: relative;
  width: 100%;
  border: 12px solid white;
  height: 100vh;
  div.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 0px;
}

a {
  text-decoration: none;
}

::selection {
  mix-blend-mode: difference;
  background: $hovercolor;
  color:red;/* WebKit/Blink Browsers */
}
::-moz-selection {
  mix-blend-mode: difference;
  background: $hovercolor; /* Gecko Browsers */
}
div.draw-button {
  bottom: 5px;
  position: absolute;
  font-size:11px;
  div {
    color: grey;
    cursor: pointer;
    &:hover {
        color: white;
    }
  }
}
div.nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: calc(100% - 24px);
  max-width: 1920px;
  // background: blue;
  left: calc(50%);
  transform: translate(-50%,0);
  display: flex;
  justify-content: center;
  // opacity: 0.7;
  padding-top: 60px;
  mix-blend-mode: difference;
    // display: none;
  div.logo {
    display: inline-block;
    position: relative;
    width: 40%;
    padding-right: calc(7.5% + 9px);
    text-align: right;
    // display: none;
    // background: green;
    // mix-blend-mode: difference;
    a {
      // background: blue;
      // mix-blend-mode: difference;
      font-size: 16px;
      padding: 2px 0px;
      span {
        color:$stark;
        display: inline-block;
        letter-spacing: 3px;
      }
      span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color:white;
        margin-left: 2px;
      }
      span.square {
        position: absolute;
        color:white;
        margin-left: 3px;
        background: $theturk;
        background: $relturk;
        transition: 0.2s ease;
        width: 6px;
        height: 6px;
        // right: 0;
        bottom: 5px;
      }
      &:hover {
        span.square {
          background: $hovercolor;
          // transform: scale(2, 2);
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  div.navitems {
    display: inline-block;
    width: 60%;
    // background: red;
    div.item  {
      display: inline-block;
      padding: 0;
      font-size: 0;
      margin-right: 35px;
      // transform: translate(50%, 50%);
      // &.contact { right: 33px;} // width 66px at 13px font-size
      // &.thinking { right: calc(35px + 66px + 33px);}   // width 70px
      // &.about { right: calc(35px + 66px + 33px + 70px + 25px);}
      a {
        // background: blue;
        // font-family: 'dinmedium', sans-serif;
        text-transform: uppercase;
        text-transform: capitalize;
        padding: 2px 1px;
        font-size: 17px;
        color:$relturk;
        color: $stark;
        // letter-spacing: 3px;
        transition: 0.2s ease;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          z-index: 100;
          left: 0px;
          right: 100%;
          bottom: -8px;
          background: $stark;
          height: 3px;
          opacity: 0.9;
          transition-property: left right;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          // right:0;
        }
        &:hover {
          &:after {
            right:-1px;
          }
        }
      }
      &.active a{
        &:after {
          right:-1px;
        }
        // letter-spacing: 2px;
      }
    }
  }

}

h2.title {
  text-align: left;
  position: absolute;
  transition: 0.4s ease;
  font-size: 30px;
  display: block;
  left: 40%;
  transform: translate(0%, -50%);
  width: 60%;
  top: 48%;
  color: $blueblack;
  div {
    font-size: 170%;
  }
  span {
    font-family: 'dinmedium', sans-serif;
    font-size: 140%;
    color: $hovercolor;
    // color: $blueblack;
  }
  span.colorful {
    font-size: 160%;
    // background: -webkit-linear-gradient(left,#35d6d1 12%,#ecff28 88%) no-repeat;
    // background: -webkit-linear-gradient(left,#35d6d1 12%,#e0043f 88%) no-repeat;
    // -webkit-background-clip: text;
    color: #b4f25f;
    color:#e0043f;
    // -webkit-text-fill-color: transparent;
  }

  &.story-enter {
    opacity: 0.01;
    transform: translate(0%, -300%);
  }
  &.story-leave {
    opacity: 0.01;
    transform: translate(0%, 100%);
  }
  &.story-appear {
    opacity: 0.01;
    transform: translate(0%, -300);
  }
}

div.homepage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $greyBackground;
  color: $stark;
  div.scrolldown {
    position: absolute;
    bottom: 7.5%;
    left: calc(40%);
    // background: grey;
    // width: 10%;
    color: $blueblack;
    // text-transform: uppercase;
    font-family: 'dinmedium', sans-serif;
    div {
      position: absolute;
      top: -55px;
      left: calc(50% - 9px);
      width: 19px;
      height: 19px;
      // margin-left: -9px;
      border-left: 3px solid $blueblack;
      border-bottom: 3px solid $blueblack;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg) ;
      -webkit-animation: sdb05 3s infinite;
      animation: sdb05 3s infinite;
      box-sizing: border-box;
      // background: red;
    }
  }
  div.bubbles {
    text-align: right;
    position: absolute;
    bottom: 7.5%;
    right: 7.5%;
    // background: red;
    // height: 40px;
    width: 50%;
    div {
      position: relative;
      margin: 0px 1%;
      // cursor: pointer;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 2px solid $blueblack;
      border-radius: 50px;
      transition: 0.6s ease-out;
      &.stage {
        background: $blueblack;
      }
    }
  }
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

div.page {
  height: 100%;
  > span {
    display: block;
    height: 100%;
  }
}
span.innerpage {
  position: relative;
  display: block;
  height: 100%;
  // border: 12px solid ghostwhite;  //////////////////////////////
  // border: 16px solid #03acb5;
  // border: 12px solid $hovercolor;
  // border: 16px solid ;
  overflow: hidden;
  div.dropdown {
    width: 100%;
    height: 0%;
    background: $blueblack;
    color: $stark;
    transition: 1.2s ease;
  }
  div.content {
    height: 100%;
    width: 100%;
    transition: height 1.2s ease;
    transition: padding-top 2s ease-out;
    padding-top: 0vh;
    background: white;
    position: relative;
    overflow: scroll;
    // overflow: hidden;
    // display: flex;
    // border-bottom: 3px solid blue;
    &::-webkit-scrollbar {
      // width: 5px;  /* remove scrollbar space */
      // background: $hovercolor;  /* optional: just make scrollbar invisible */
    }
  }

  &.contact {
    div.dropdown { background: #2d283e; } //
    div.dropdown { background: $blueblack; } //
    div.dropdown { background: $hovercolor; }
    div.content { background: $greyBackground; } // $greyBackground;
  }
  &.thinking {
    div.dropdown { background: #4cd3bb ; } // #4cd3bb mint
    div.content { background: #eae5e4; } // #eae5e4 grey

    div.dropdown { background: #2d283e; } //
    div.dropdown { background: $hovercolor; }
    div.content { background: $greyBackground; } //
  }
  &.about {
    div.dropdown {  background: #314455;  } //
    div.dropdown { background: $hovercolor; }
    // div.content { background: #c96567;}
    div.content { background: $greyBackground; } //
  }

  &.SlideIn-appear {
    div.dropdown { height: 0vh; }
    div.content  { height: 100%; padding-top: 100vh; }
  }
  &.SlideIn-appear.SlideIn-appear-active {
    div.dropdown { height: 100%; }
    div.content  { height: 0vh; padding-top: 100vh;}
  }
}

a.blogPost {
  display: block;
  position: relative;
  margin: 5% auto;
  font-size: 0px;
  width: 75%;
  text-align: left;
  overflow: hidden;
  &:nth-of-type(1) { margin-top: 15% }
  &:nth-of-type(even) > div { float: right; }
  // &:nth-of-type(3n) > div { margin: 0 25%;}
  // &:nth-of-type(4n) > div { margin: 0 10%;}
  > div {
    float: right;
    max-width: 50vw;
    // max-height: 300px;
    width: 100%;
    height: 100%;
    max-height: 420px;
    // position: absolute;
    // background: green;
    // height: 250px;
    overflow: visible;
    img {
      // position: absolute;
      transition: 0.6s ease;
      width: 100%;
      height: 100%;
    }
    // a {
    //   display: block;
    //   width: 100%;
    // }
  }

  // &:nth-of-type(even) {
  //   // background: tomato;
  //   h4 {
  //     // mix-blend-mode: difference;
  //     font-family: 'dinmedium', sans-serif;
  //     position: absolute;
  //     color: white;
  //     color: $hovercolor;
  //     left: 8%;
  //     top: 32%;
  //     font-size: 47px;
  //     z-index: 10;
  //     transition: 0.15s ease-out;
  //     text-transform: uppercase;
  //   }
  //   span.date {
  //     display: none;
  //     position: absolute;
  //     left: 20%;
  //     top: 52%;
  //     font-size: 24px;
  //     z-index: 10;
  //     color: $relturk;
  //     transition: 0.15s ease-out;
  //   }
  //   span.summary {
  //     // mix-blend-mode: difference;
  //     display: block;
  //     position: absolute;
  //     left: 8%;
  //     top: 52%;
  //     font-size: 22px;
  //     z-index: 10;
  //     width: 40%;
  //     color: $hovercolor;
  //     text-align: left;
  //     transition: 0.15s ease-out;
  //   }
  //
  //   > div {
  //     a {
  //       &:hover {
  //         img {
  //           transform: scale(1.1, 1.1);
  //         }
  //       }
  //     }
  //   }
  // }
  &:nth-of-type(n) {
    transition: 0.3s ease-out;
    // background: tomato;
    cursor: pointer;
    &:after {
      content:"";
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: transparent;
      background: $hovercolor;
      opacity: 0;
      transition: 0.15s ease-out;
      z-index: 8;
        mix-blend-mode:difference;
    }
    h4 {
      // mix-blend-mode: difference;
      // font-family: 'dinmedium', sans-serif;
      position: absolute;
      color: $blueblack;
      // color: $hovercolor;
      left: 0;
      top: 1px;
      font-size: 18px;
      z-index: 10;
      transition: 0.15s ease-out;
      text-transform: uppercase;
    }
    span.summary {
      display: block;
      position: absolute;
      left: 0px;
      top: 35px;
      font-size: 14px;
      z-index: 10;
      color: $blueblack;
      transition: 0.15s ease-out;
      width: 27%;
    }

    &:hover {
      box-shadow: 1px 30px 35px rgba(0, 205, 215, 0.25);
      &:after {
        opacity: 0.87;
        // background: $blueblack;
        // background: $hovercolor;
        // mix-blend-mode:difference;
      }
      h4, span.summary {
        color: $hovercolor;
        left: 2%;
        top: 18px;
      }
      span.summary {
        top: 52px;
      }
    }
    > div {
      position: relative;
      a {
        // position: absolute;
        background: red;
      }
    }
  }
}


span.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 10px;
  // top: calc(50% - 25px);
  // left: calc(50% - 25px);
  border: 5px solid $blueblack;
  animation: loader 6s infinite ease-in;

}

span.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $blueblack;
  animation: loader-inner 3s infinite ease;
}

div.dot-canvas, div.scene {
  display: inline-block;
  // border: 13px solid ghostwhite;
  width: calc(40% - 12px);
  // height: 100%;
  height: 100%;
  // margin: 13px;
  // background: $blueblack;
  // background: $blueblack;
  canvas {
    height: 100%;;
    width: 100%;
    // background: #070a0f;
    // background-image: radial-gradient(#273447, #17202d, #070a0f);
    margin: 0px;
    overflow: hidden;
  }
}

div.footer {
  height: 14vh;
  background: $blueblack;
  position: relative;
  div.logo {
    display: inline-block;
    position: absolute;
    top: 7vh;
    left:0;
    transform: translate(0%, -50%);
    // display: none;
    a {
      font-size: 16px;
      padding: 2px 5px;
      span {
        color:$aGrey;
        display: inline-block;
        letter-spacing: 3px;
      }
      span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color:$stark;
        margin-left: 2px;
      }
      span.square {
        color:white;
        margin-left: 3px;
        background: $theturk;
        background: $relturk;
        transition: 0.2s ease;
        width: 6px;
        height: 6px;
      }
      &:hover {
        span.square {
          background: $hovercolor;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

// .SlideIn-appear {
//   background: green;
//   // transform: translateX(30px);
//   // opacity: 0;
// }
// .SlideIn-appear.SlideIn-appear-active {
//   // background: red;
//   height: 120vh;
//   // opacity: 1;
//   // transform: translateX(0);;
//   // transition: all 0.6s linear;
// }
// .SlideIn-enter {
//     opacity: 0;
//     transform: translateX(30px);
// }
// .SlideIn-enter.SlideIn-enter-active {
//     opacity: 1;
//     transform: translateX(0);
//     transition: all 0.2s linear 0.4s;
// }
// .SlideIn-leave {
//     opacity: 1.0;
//     transform: translateX(0);
// }
// .SlideIn-leave.SlideIn-leave-active {
//     opacity: 0;
//     position: absolute;
//     width: 100%;
//     transform: translateX(-30px);
//     transition: all 0.2s linear;
// }

div.column1 {
  width: 40%;
  text-align: right;
  padding-right: 7.5%;
}
div.column2 {
  width: 60%;
  padding-right: 7.5%;
}

section.grid {
  display: flex;
  margin-top: 60px;
  transition: 0.3s ease-out;

  &:first-of-type {
    margin-top: 160px;
    padding-top: 0px !important;}
  h2.mainTitle {
    padding: 0;
    font-size: 50px;
  }
  &.about {
    // padding-top: 150px;
    // background: red;
    h2.sideHeading {
      float:right;
      border-top: 3px solid $blueblack;
      padding-top: 20px;
      padding-left: 30px;
      margin-top: 10px;
      font-size: 18px;
    }
    p {font-size: 19px;}
  }
  &.contact {
    div.column1 {
      padding-left: 7.5%;
      // background: grey;
      // width: 50%;
      div.image {
        width: 100%;
        max-height: 300px;
        img {
          width: 100%;
          // height: 100%;
        }
      }
    }
    div.column2 {
      // background: red;
    }
    h2.mainTitle {
      a {
        position: relative;
        padding: 3px 0;
        color: $blueblack;
        &:after {
          content: "";
          position: absolute;
          z-index: 100;
          left: 0px;
          right: 100%;
          bottom: -9px;
          background: $blueblack;
          height: 4px;
          opacity: 0.9;
          transition-property: left right;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;
          // right:0;
        }
        &:hover {
          &:after {
            right:-1px;
          }
        }
      }
      // a:hover {
      //   border-bottom: 3px solid $blueblack;
      // }
    }
  }
  &.singlepost {
    div.column1 {
      // background: red;
      padding-left:7.5%;
      h3.author {
        margin-top: 15px;
        display: inline-block;
        // width: 100%;
        border-top: 3px solid $blueblack;
        font-size: 14px;
        padding: 20px 0 10px 0;
      }
      h3.date {
        padding: 5px 0;
        font-size: 14px;
      }
      div.image {
        background: red;
        font-size: 0;
        margin: 40px 0;
        img {
          width: 100%;
        }
      }
    }
    div.column2 {
      h2.posttitle {
        font-size: 50px;
        margin-bottom: 30px;
      }
      div.inner {
        width: 100%;
        // margin-bottom: 80px;
        p {
          padding: 5px 0 10px 0;
        }
        h1,h2,h3,h4 {
          padding: 15px 0;
        }
        img {
          padding: 5px 0;
          width: 100%;
        }
      }
    }
  }

  &.thinking {
    // margin-bottom: 120px;
      position: relative;
      /* Button 1c */
      &:after {
      	width: 0%;
      	height: 100%;
      	top: 0;
      	left: 0;
      	background: #fff;
      }

      .btn-1c:hover,
      .btn-1c:active {
      	color: #0e83cd;
      }


    a.link {
      position: relative;
      display: inline-block;
      // background: red;
      // height: 100%;
      // width: 100%;
      margin-top: 8px;
      font-family: 'dinmedium', sans-serif;
      color: $hovercolor;
      padding: 6px 30px;
      font-size: 16px;
      border: 2px solid  $hovercolor;
      z-index: 1;
      transition: 0.3s ease;
      &:before {
          z-index: -1;
        content:'';
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        background: $hovercolor;
        transition: 0.3s ease;
      }
      &:hover {
        color: $greyBackground;
        &:before {
          width: 100%;
        }
      }


    }
    h2.mainTitle {
      padding: 0;
      font-size: 50px;
      max-width: 500px;
      // margin-bottom: 20px;
    }
    div.column1 {
      padding-left: 15%;
      p {
        margin: 20px 0;
      }
    }
    div.column2 {
      padding-right: 7.5%;
      div.image {
        max-height: 400px;
        width: 100%;
        overflow: hidden;
        font-size: 0;
        position: relative;
        display: flex;
        align-items: center;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

div.hoverSection {
  position: relative;
  display: flex;
  // background: grey;
  // padding-left: 20%;
  // transform: translate(-50%,0);
  // justify-content: center;
    padding-left: 10px;
  div.infoIcon {
    margin: 20px 40px 0 0;
    cursor: pointer;
    border: 4px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: transparent;

    transition: 0.6s ease-out;
    &::after{
      content:  attr(data-descr);
      // background: red;
      width: 300px;
      display: block;
      position: absolute;
      top: 120px;
      height: 0%;
      left: 30px;
      overflow: hidden;
      // transition: 0.1s ease-out;
      border-left: 4px solid black;
      // background: red;
      padding-left: 30px;
      height: 0%;
      transition: height 0.2s 0.3s ease;
    }
    &:hover {
      background: black;
      margin-bottom: 190px;
        &::after{
          height: 60%;
          // border-left: 1px solid red;
        }
    }
  }
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 100%;
  }

  50% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@font-face {
    font-family: 'dinregular';
    src: url('dinregularalternate-webfont.eot');
    src: url('dinregularalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinregularalternate-webfont.woff2') format('woff2'),
         url('dinregularalternate-webfont.woff') format('woff'),
         url('dinregularalternate-webfont.ttf') format('truetype'),
         url('dinregularalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinregular';
    src: url('dinregular-webfont.eot');
    src: url('dinregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinregular-webfont.woff2') format('woff2'),
         url('dinregular-webfont.woff') format('woff'),
         url('dinregular-webfont.ttf') format('truetype'),
         url('dinregular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinregular';
    src: url('dinmediumalternate-webfont.eot');
    src: url('dinmediumalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinmediumalternate-webfont.woff2') format('woff2'),
         url('dinmediumalternate-webfont.woff') format('woff'),
         url('dinmediumalternate-webfont.ttf') format('truetype'),
         url('dinmediumalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinmedium';
    src: url('dinmedium-webfont.eot');
    src: url('dinmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinmedium-webfont.woff2') format('woff2'),
         url('dinmedium-webfont.woff') format('woff'),
         url('dinmedium-webfont.ttf') format('truetype'),
         url('dinmedium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinlight';
    src: url('dinlight-webfont.eot');
    src: url('dinlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinlight-webfont.woff2') format('woff2'),
         url('dinlight-webfont.woff') format('woff'),
         url('dinlight-webfont.ttf') format('truetype'),
         url('dinlight-webfont.svg#dinlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('dinlightalternate-webfont.eot');
    src: url('dinlightalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinlightalternate-webfont.woff2') format('woff2'),
         url('dinlightalternate-webfont.woff') format('woff'),
         url('dinlightalternate-webfont.ttf') format('truetype'),
         url('dinlightalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('dinbold-webfont.eot');
    src: url('dinbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinbold-webfont.woff2') format('woff2'),
         url('dinbold-webfont.woff') format('woff'),
         url('dinbold-webfont.ttf') format('truetype'),
         url('dinbold-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dinregular';
    src: url('dinblackalternate-webfont.eot');
    src: url('dinblackalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinblackalternate-webfont.woff2') format('woff2'),
         url('dinblackalternate-webfont.woff') format('woff'),
         url('dinblackalternate-webfont.ttf') format('truetype'),
         url('dinblackalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
