* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html.homepage {
  overflow: hidden; }

body {
  font-family: 'dinlight', 'helvetica', 'arial', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  position: relative; }

div.wrapper {
  position: relative;
  width: 85%;
  max-width: 1920px;
  margin: 0 auto; }

h1 {
  font-size: 0px; }

a {
  text-decoration: none; }

div.nav {
  position: fixed;
  top: 0;
  width: 85%;
  margin: 0 auto;
  height: 70px;
  z-index: 1000;
  mix-blend-mode: difference;
  max-width: 1920px; }
  div.nav div.logo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0%, 50%); }
    div.nav div.logo a {
      font-size: 16px;
      padding: 2px 5px; }
      div.nav div.logo a span {
        color: #e7dfdd;
        display: inline-block;
        letter-spacing: 3px; }
      div.nav div.logo a span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color: white;
        margin-left: 2px; }
      div.nav div.logo a span.square {
        color: white;
        margin-left: 3px;
        background: #66fcf1;
        background: #00848b;
        transition: 0.2s ease;
        width: 6px;
        height: 6px; }
      div.nav div.logo a:hover span.square {
        background: #00cdd7;
        width: 12px;
        height: 12px; }
  div.nav div.item {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 0;
    font-size: 0;
    transform: translate(50%, 50%); }
    div.nav div.item.contact {
      right: 33px; }
    div.nav div.item.thinking {
      right: calc(35px + 66px + 33px); }
    div.nav div.item.about {
      right: calc(35px + 66px + 33px + 70px + 25px); }
    div.nav div.item a {
      font-family: 'dinmedium', sans-serif;
      text-transform: uppercase;
      padding: 2px 5px;
      font-size: 14px;
      color: #00848b;
      color: #e7dfdd;
      transition: 0.2s ease; }
      div.nav div.item a:hover {
        font-size: 16px;
        color: #00cdd7;
        color: white; }
    div.nav div.item.active a {
      color: #00cdd7;
      color: white;
      font-size: 16px; }

h2.title {
  text-align: center;
  position: absolute;
  transition: 0.4s ease;
  font-size: 18px;
  display: block;
  left: 0%;
  transform: translate(0%, -50%);
  width: 100%;
  top: 50%; }
  h2.title div {
    font-size: 170%; }
  h2.title span {
    font-family: 'dinmedium', sans-serif;
    font-size: 140%;
    color: #00cdd7; }
  h2.title span.colorful {
    font-size: 160%;
    background: -webkit-linear-gradient(left, #35d6d1 12%, #ecff28 88%) no-repeat;
    -webkit-background-clip: text;
    color: #b4f25f;
    -webkit-text-fill-color: transparent; }
  h2.title.story-enter {
    opacity: 0.01;
    transform: translate(0%, -300%); }
  h2.title.story-leave {
    opacity: 0.01;
    transform: translate(0%, 100%); }
  h2.title.story-appear {
    opacity: 0.01;
    transform: translate(0%, -300); }

div.homepage {
  position: absolute;
  width: 100%;
  height: 100vh;
  border: 12px solid #f2f4f7;
  background: #011727;
  color: #e7dfdd; }

div.page {
  height: 100vh; }
  div.page > span {
    display: block;
    height: 100%; }

span.innerpage {
  position: relative;
  display: block;
  height: 100%;
  border: 12px solid #f2f4f7; }
  span.innerpage div.dropdown {
    width: 100%;
    height: 0%;
    background: #011727;
    color: #e7dfdd;
    transition: 1.2s ease; }
  span.innerpage div.content {
    height: 100%;
    width: 100%;
    transition: 1.2s ease;
    background: white; }
  span.innerpage.contact div.dropdown {
    background: #2d283e; }
  span.innerpage.contact div.content {
    background: #d1d7e0; }
  span.innerpage.thinking div.dropdown {
    background: #4cd3bb; }
  span.innerpage.thinking div.content {
    background: #eae5e4; }
  span.innerpage.about div.dropdown {
    background: #314455; }
  span.innerpage.about div.content {
    background: #c96567; }
  span.innerpage.SlideIn-appear div.dropdown {
    height: 0vh; }
  span.innerpage.SlideIn-appear div.content {
    height: 100%; }
  span.innerpage.SlideIn-appear.SlideIn-appear-active div.dropdown {
    height: 100%; }
  span.innerpage.SlideIn-appear.SlideIn-appear-active div.content {
    height: 0vh; }

canvas {
  width: 100%;
  height: 100%; }

div.footer {
  height: 14vh;
  background: #011727;
  position: relative; }
  div.footer div.logo {
    display: inline-block;
    position: absolute;
    top: 7vh;
    left: 0;
    transform: translate(0%, -50%); }
    div.footer div.logo a {
      font-size: 16px;
      padding: 2px 5px; }
      div.footer div.logo a span {
        color: #858585;
        display: inline-block;
        letter-spacing: 3px; }
      div.footer div.logo a span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color: #e7dfdd;
        margin-left: 2px; }
      div.footer div.logo a span.square {
        color: white;
        margin-left: 3px;
        background: #66fcf1;
        background: #00848b;
        transition: 0.2s ease;
        width: 6px;
        height: 6px; }
      div.footer div.logo a:hover span.square {
        background: #00cdd7;
        width: 12px;
        height: 12px; }

@font-face {
  font-family: 'dinregular';
  src: url("dinregularalternate-webfont.eot");
  src: url("dinregularalternate-webfont.eot?#iefix") format("embedded-opentype"), url("dinregularalternate-webfont.woff2") format("woff2"), url("dinregularalternate-webfont.woff") format("woff"), url("dinregularalternate-webfont.ttf") format("truetype"), url("dinregularalternate-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinregular';
  src: url("dinregular-webfont.eot");
  src: url("dinregular-webfont.eot?#iefix") format("embedded-opentype"), url("dinregular-webfont.woff2") format("woff2"), url("dinregular-webfont.woff") format("woff"), url("dinregular-webfont.ttf") format("truetype"), url("dinregular-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinregular';
  src: url("dinmediumalternate-webfont.eot");
  src: url("dinmediumalternate-webfont.eot?#iefix") format("embedded-opentype"), url("dinmediumalternate-webfont.woff2") format("woff2"), url("dinmediumalternate-webfont.woff") format("woff"), url("dinmediumalternate-webfont.ttf") format("truetype"), url("dinmediumalternate-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinmedium';
  src: url("dinmedium-webfont.eot");
  src: url("dinmedium-webfont.eot?#iefix") format("embedded-opentype"), url("dinmedium-webfont.woff2") format("woff2"), url("dinmedium-webfont.woff") format("woff"), url("dinmedium-webfont.ttf") format("truetype"), url("dinmedium-webfont.svg#dinmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinlight';
  src: url("dinlight-webfont.eot");
  src: url("dinlight-webfont.eot?#iefix") format("embedded-opentype"), url("dinlight-webfont.woff2") format("woff2"), url("dinlight-webfont.woff") format("woff"), url("dinlight-webfont.ttf") format("truetype"), url("dinlight-webfont.svg#dinlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinregular';
  src: url("dinlightalternate-webfont.eot");
  src: url("dinlightalternate-webfont.eot?#iefix") format("embedded-opentype"), url("dinlightalternate-webfont.woff2") format("woff2"), url("dinlightalternate-webfont.woff") format("woff"), url("dinlightalternate-webfont.ttf") format("truetype"), url("dinlightalternate-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinregular';
  src: url("dinbold-webfont.eot");
  src: url("dinbold-webfont.eot?#iefix") format("embedded-opentype"), url("dinbold-webfont.woff2") format("woff2"), url("dinbold-webfont.woff") format("woff"), url("dinbold-webfont.ttf") format("truetype"), url("dinbold-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinregular';
  src: url("dinblackalternate-webfont.eot");
  src: url("dinblackalternate-webfont.eot?#iefix") format("embedded-opentype"), url("dinblackalternate-webfont.woff2") format("woff2"), url("dinblackalternate-webfont.woff") format("woff"), url("dinblackalternate-webfont.ttf") format("truetype"), url("dinblackalternate-webfont.svg#dinregular") format("svg");
  font-weight: normal;
  font-style: normal; }
