* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }

html.homepage {
  overflow: hidden; }

body {
  font-family: 'dinlight', 'helvetica', 'arial', sans-serif;
  padding: 0;
  font-size: 16px; }

div.border {
  position: relative;
  width: 100%;
  height: 100vh; }
  div.border div.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto; }

h1 {
  font-size: 0px; }

a {
  text-decoration: none; }

::selection {
  background: #5000ff;
  color: #182023;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #5000ff;
  color: #182023; }

div.draw-button {
  bottom: 5px;
  position: absolute;
  font-size: 11px; }
  div.draw-button div {
    color: grey;
    cursor: pointer; }
    div.draw-button div:hover {
      color: white; }

div.nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  padding-top: 60px; }
  div.nav div.logo {
    z-index: 2000;
    display: inline-block;
    position: relative;
    width: 50%;
    padding-left: 7.5%;
    text-align: left; }
    div.nav div.logo a {
      font-size: 16px;
      padding: 2px 0px; }
      div.nav div.logo a span {
        color: #e7dfdd;
        display: inline-block;
        letter-spacing: 3px; }
      div.nav div.logo a span.sandbox {
        font-family: 'dinmedium', sans-serif;
        color: white;
        margin-left: 2px; }
      div.nav div.logo a span.square {
        position: relative;
        color: white;
        margin-left: 3px;
        background: #5000ff;
        transition: 0.2s ease;
        width: 6px;
        height: 6px; }
      div.nav div.logo a:hover span.square {
        background: #5000ff;
        width: 12px;
        height: 12px; }
  div.nav div.navitems {
    display: inline-block;
    width: 50%;
    padding-right: 7.5%;
    text-align: right; }
    div.nav div.navitems div.item {
      display: inline-block;
      padding: 0 3px;
      font-size: 0;
      margin-left: 35px; }
      div.nav div.navitems div.item:first-of-type {
        margin-left: 0px; }
      div.nav div.navitems div.item a {
        text-transform: uppercase;
        text-transform: capitalize;
        padding: 2px 1px;
        font-size: 17px;
        color: #e7dfdd;
        transition: 0.2s ease;
        position: relative; }
        div.nav div.navitems div.item a:after {
          content: "";
          position: absolute;
          z-index: 100;
          left: 0px;
          right: 100%;
          bottom: -9px;
          background: #5000ff;
          height: 4px;
          opacity: 0.9;
          transition-property: left right;
          transition-duration: 0.2s;
          transition-timing-function: ease-out; }
        div.nav div.navitems div.item a:hover:after {
          right: -1px; }
      div.nav div.navitems div.item.active a:after {
        right: -1px; }

div.burger {
  display: none;
  position: relative;
  top: 0px;
  right: 5px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  div.burger div.burgerPopOut {
    position: fixed;
    display: block;
    top: 0px;
    width: 100%;
    height: 0vh;
    left: 0;
    overflow: hidden;
    transition: 0.2s ease-out; }
    div.burger div.burgerPopOut > div {
      position: absolute;
      top: 0px;
      width: 100%;
      padding: 30vh 7.5%;
      text-align: right;
      background: #182023;
      height: calc(100vh); }
      div.burger div.burgerPopOut > div div.burgeritem a {
        text-transform: capitalize;
        color: white;
        font-size: 52px;
        line-height: 80px;
        position: relative; }
        div.burger div.burgerPopOut > div div.burgeritem a:after {
          content: "";
          position: absolute;
          z-index: 100;
          left: 0px;
          right: 100%;
          bottom: -11px;
          background: #5000ff;
          height: 5px;
          opacity: 0.9;
          transition-property: left right;
          transition-duration: 0.2s;
          transition-timing-function: ease-out; }
      div.burger div.burgerPopOut > div div.burgeritem.active a:after {
        right: -1px; }
  div.burger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -3px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  div.burger span {
    display: block;
    width: 33px;
    height: 2px;
    position: relative;
    background: white;
    z-index: 1;
    transform-origin: 2px 0px;
    margin-bottom: 6px;
    transition: 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.2s cubic-bezier(0.77, 0.2, 0.05, 1); }
  div.burger span:nth-child(4) {
    margin-bottom: 0px; }
  div.burger input:checked ~ span {
    transform: rotate(45deg) translate(-3px, -1px); }
  div.burger input:checked ~ div.burgerPopOut {
    display: block;
    height: calc(100vh); }
  div.burger input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0, 0); }
  div.burger input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-3px, -1px); }

h2.title {
  text-align: center;
  position: absolute;
  transition: 0.4s ease;
  font-size: 57px;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  top: 50%;
  color: ghostwhite;
  mix-blend-mode: difference; }
  h2.title div {
    font-size: 100%; }
  h2.title span {
    font-family: 'dinmedium', sans-serif;
    font-size: 140%;
    color: #5000ff; }
  h2.title span.colorful {
    font-size: 170%;
    background: -webkit-linear-gradient(left, #35d6d1 12%, #ecff28 88%) no-repeat;
    -webkit-background-clip: text;
    color: #5000ff;
    -webkit-text-fill-color: transparent; }
  h2.title.story-enter {
    opacity: 0.01;
    transform: translate(-50%, -300%); }
  h2.title.story-leave {
    opacity: 0.01;
    transform: translate(-50%, 100%); }
  h2.title.story-appear {
    opacity: 0.01;
    transform: translate(-50%, -300); }

div.homepage {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #182023;
  color: #e7dfdd; }
  div.homepage div.scrolldown {
    position: absolute;
    bottom: 5%;
    left: calc(50%);
    transform: translate(-50%, 0);
    color: white;
    font-family: 'dinmedium', sans-serif; }
    div.homepage div.scrolldown div {
      position: absolute;
      top: -55px;
      left: calc(50% - 9px);
      width: 19px;
      height: 19px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb05 2s infinite;
      animation: sdb05 2s infinite;
      box-sizing: border-box; }
  div.homepage div.bubbles {
    text-align: right;
    position: absolute;
    bottom: 7.5%;
    right: 7.5%;
    width: 50%; }
    div.homepage div.bubbles div {
      position: relative;
      margin: 0px 1%;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 2px solid white;
      border-radius: 50px;
      transition: 0.6s ease-out; }
      div.homepage div.bubbles div.stage {
        background: white; }

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  10% {
    opacity: 1; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }

div.page {
  height: 100%; }
  div.page > span {
    display: block;
    height: 100%; }

span.innerpage {
  position: relative;
  display: block;
  height: 100%;
  width: calc(100%);
  overflow: hidden; }
  span.innerpage div.dropdown {
    width: 100%;
    height: 0%;
    background: white;
    color: #e7dfdd;
    transition: 1.2s ease; }
  span.innerpage div.content {
    height: 100%;
    width: calc(100% - 0px);
    transition: height 1.2s ease;
    transition: padding-top 2s ease-out;
    padding-top: 0vh;
    background: white;
    position: relative; }
  span.innerpage.contact div.dropdown {
    background: #5000ff; }
  span.innerpage.contact div.content {
    background: #182023; }
  span.innerpage.thinking div.dropdown {
    background: #5000ff; }
  span.innerpage.thinking div.content {
    overflow-y: scroll;
    background: #182023; }
    span.innerpage.thinking div.content::-webkit-scrollbar {
      position: relative;
      width: 5px;
      /* remove scrollbar space */
      background: transparent;
      overflow: visible;
      /* optional: just make scrollbar invisible */
      transition: 3s ease; }
    span.innerpage.thinking div.content::-webkit-scrollbar-thumb {
      background: #5000ff;
      width: 5px;
      height: 100px;
      position: absolute; }
    span.innerpage.thinking div.content::-webkit-scrollbar-corner {
      background: transparent; }
  span.innerpage.about div.dropdown {
    background: #314455; }
  span.innerpage.about div.dropdown {
    background: #5000ff; }
  span.innerpage.about div.content {
    background: #182023;
    display: flex; }
  span.innerpage.SlideIn-appear div.dropdown {
    height: 0vh; }
  span.innerpage.SlideIn-appear div.content {
    height: 100%;
    padding-top: 100vh; }
  span.innerpage.SlideIn-appear.thinking div.content::-webkit-scrollbar-thumb {
    background: transparent; }
  span.innerpage.SlideIn-appear.SlideIn-appear-active div.dropdown {
    height: 100%; }
  span.innerpage.SlideIn-appear.SlideIn-appear-active div.content {
    height: 0vh;
    padding-top: 100vh; }

section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-direction: column;
  color: white;
  overflow: hidden; }
  section.contact div.row2 {
    padding-top: 45px;
    align-self: center;
    width: 60%;
    font-size: 20px; }
    section.contact div.row2 h3 {
      padding-bottom: 10px; }
  section.contact div.row1 {
    align-self: center;
    width: 80%;
    font-size: 55px;
    padding-top: 20px;
    color: white;
    text-align: center; }
    section.contact div.row1 a {
      padding: 2px 0;
      color: white;
      position: relative; }
      section.contact div.row1 a:after {
        content: "";
        position: absolute;
        z-index: 100;
        left: 0px;
        right: 100%;
        bottom: -9px;
        background: #5000ff;
        height: 5px;
        opacity: 0.9;
        transition-property: left right;
        transition-duration: 0.2s;
        transition-timing-function: ease-out; }
      section.contact div.row1 a:hover:after {
        right: -1px; }

section.landingSection {
  width: 60%;
  position: relative;
  margin: 16% auto 10% auto; }
  section.landingSection h2 {
    font-size: 57px;
    text-align: center;
    color: white; }

a.blogPost {
  display: flex;
  position: relative;
  margin: 7% auto;
  font-size: 0px;
  width: 85%;
  text-align: left; }
  a.blogPost div.column1 {
    width: 50%;
    position: relative; }
  a.blogPost div.image {
    position: relative;
    width: 50%;
    height: 400px; }
    a.blogPost div.image div.imageinner {
      width: 100%;
      height: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden; }
  a.blogPost:nth-of-type(n) {
    transition: 0.3s ease-out;
    cursor: pointer; }
    a.blogPost:nth-of-type(n):after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 0%;
      background: transparent;
      background: #5000ff;
      opacity: 0.7;
      transition: 0.5s ease;
      z-index: 8;
      mix-blend-mode: difference; }
    a.blogPost:nth-of-type(n):before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 0%;
      background: transparent;
      background: #5000ff;
      opacity: 0.7;
      transition: 0.5s ease;
      z-index: 8;
      mix-blend-mode: darken; }
    a.blogPost:nth-of-type(n) h2 {
      position: absolute;
      color: white;
      left: 0;
      top: 1px;
      font-size: 22px;
      z-index: 10;
      transition: 0.4s ease;
      text-transform: uppercase; }
    a.blogPost:nth-of-type(n) p.summary {
      display: block;
      position: absolute;
      left: 0px;
      top: 40px;
      font-size: 16px;
      z-index: 10;
      color: white;
      transition: 0.4s ease;
      width: 80%;
      text-align: left; }
    a.blogPost:nth-of-type(n):hover h2 {
      left: 35px;
      top: 35px; }
    a.blogPost:nth-of-type(n):hover p.summary {
      left: 35px;
      top: 75px; }
    a.blogPost:nth-of-type(n):hover:after, a.blogPost:nth-of-type(n):hover:before {
      height: 100%; }

section.singlepost {
  border-top: 120px solid #182023;
  width: 100%;
  background: white;
  overflow-y: scroll; }
  section.singlepost > div {
    padding: 7.5%;
    display: flex; }
  section.singlepost::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    overflow: visible;
    /* optional: just make scrollbar invisible */ }
  section.singlepost::-webkit-scrollbar-thumb {
    background: #5000ff;
    width: 5px;
    height: 50px; }
  section.singlepost::-webkit-scrollbar-corner {
    background: transparent; }
  section.singlepost div.col1 {
    width: 35%;
    padding-right: 0%;
    padding-top: 0px; }
    section.singlepost div.col1 h3 {
      text-align: right;
      color: #182023;
      font-size: 16px;
      padding: 5px 0; }
      section.singlepost div.col1 h3.author {
        font-style: italic;
        padding-bottom: 10px; }
    section.singlepost div.col1 div.image {
      width: 100%; }
      section.singlepost div.col1 div.image img {
        margin: 10px 0 20px 0;
        width: 100%; }
  section.singlepost div.col2 {
    width: 65%;
    padding-left: 8%; }
    section.singlepost div.col2 h2.posttitle {
      font-size: 57px;
      margin-bottom: 35px; }
    section.singlepost div.col2 div.inner {
      color: #182023;
      width: 100%; }
      section.singlepost div.col2 div.inner h1, section.singlepost div.col2 div.inner h2, section.singlepost div.col2 div.inner h3, section.singlepost div.col2 div.inner h4 {
        padding-top: 10px;
        margin: 10px 0; }
      section.singlepost div.col2 div.inner p {
        margin: 0px 0 15px 0; }
      section.singlepost div.col2 div.inner img {
        margin: 10px 0;
        width: 100%; }

span.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: 10px;
  border: 5px solid #5000ff;
  animation: loader 6s infinite ease-in; }

span.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #5000ff;
  animation: loader-inner 3s infinite ease; }

div.dot-canvas, div.scene {
  display: inline-block;
  width: calc(100%);
  height: 100%; }
  div.dot-canvas canvas, div.scene canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden; }

footer {
  margin-top: calc(7.5% + 30px);
  height: 135px;
  width: 100%;
  background: #5000ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  footer div {
    height: 18px;
    position: relative;
    font-size: 16px; }
    footer div span.square {
      right: -16px;
      position: absolute;
      color: white;
      margin-left: 3px;
      background: #182023;
      transition: 0.2s ease;
      width: 9px;
      height: 9px;
      bottom: 2px; }

div.column1 {
  width: 50%;
  height: 10px; }

div.column2 {
  width: 50%; }

div.panel {
  border: 10px solid #5000ff;
  margin: 10vh 1% 0 1%;
  padding: 2% 2%;
  padding-top: 3.5%;
  text-align: left;
  height: 35%;
  transition: 0.4s ease;
  position: relative;
  z-index: 2;
  width: 48%;
  overflow-y: scroll;
  align-self: center; }
  div.panel::-webkit-scrollbar {
    position: relative;
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    overflow: visible;
    /* optional: just make scrollbar invisible */
    transition: 3s ease; }
  div.panel::-webkit-scrollbar-thumb {
    background: transparent;
    width: 12px;
    height: 100px;
    position: absolute; }
  div.panel::-webkit-scrollbar-corner {
    background: transparent; }
  div.panel:first-of-type {
    margin-left: 7.5%; }
  div.panel:last-of-type {
    margin-right: 7.5%; }
  div.panel h2 {
    font-size: 42px;
    color: white;
    display: block; }
  div.panel div.paneltext {
    color: white;
    font-size: 0%;
    margin-top: 30px;
    transition: 0.3s ease;
    overflow: hidden;
    display: block;
    height: 10%;
    overflow: hidden;
    width: 100%;
    transition: 0.2s 0.2s ease;
    opacity: 0; }
    div.panel div.paneltext h3 {
      font-size: 140%; }
    div.panel div.paneltext p {
      margin: 5px 0;
      font-size: 100%; }
    div.panel div.paneltext img {
      margin: 15px 0;
      width: 100%;
      height: 0%; }
  div.panel:hover {
    width: 250%;
    height: 75%;
    padding: 3%; }
    div.panel:hover::-webkit-scrollbar {
      width: 8px; }
    div.panel:hover::-webkit-scrollbar-thumb {
      background: white; }
    div.panel:hover div.paneltext {
      font-size: 100%;
      opacity: 1;
      height: auto; }
      div.panel:hover div.paneltext img {
        height: auto; }

div.hoverSection {
  position: relative;
  display: flex;
  padding-left: 10px; }
  div.hoverSection div.infoIcon {
    margin: 20px 40px 0 0;
    cursor: pointer;
    border: 4px solid #5000ff;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: transparent;
    transition: 0.6s ease-out; }
    div.hoverSection div.infoIcon::after {
      content: attr(data-descr);
      width: 300px;
      display: block;
      position: absolute;
      top: 120px;
      height: 0%;
      left: 30px;
      overflow: hidden;
      border-left: 4px solid #5000ff;
      padding-left: 30px;
      height: 0%;
      transition: height 0.2s 0.3s ease; }
    div.hoverSection div.infoIcon:hover {
      background: #5000ff;
      margin-bottom: 190px; }
      div.hoverSection div.infoIcon:hover::after {
        height: 60%; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-inner {
  0% {
    height: 100%; }
  50% {
    height: 0%; }
  100% {
    height: 100%; } }

@font-face {
  font-family: 'dinmedium';
  src: url("dinmedium-webfont.eot");
  src: url("dinmedium-webfont.eot?#iefix") format("embedded-opentype"), url("dinmedium-webfont.woff2") format("woff2"), url("dinmedium-webfont.woff") format("woff"), url("dinmedium-webfont.ttf") format("truetype"), url("dinmedium-webfont.svg#dinmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'dinlight';
  src: url("dinlight-webfont.eot");
  src: url("dinlight-webfont.eot?#iefix") format("embedded-opentype"), url("dinlight-webfont.woff2") format("woff2"), url("dinlight-webfont.woff") format("woff"), url("dinlight-webfont.ttf") format("truetype"), url("dinlight-webfont.svg#dinlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@media (max-width: 1600px) {
  section.landingSection h2, h2.title {
    font-size: 52px !important; }
  a.blogPost h2 {
    font-size: 20px !important; }
  a.blogPost p {
    font-size: 16px !important; }
  div.navitems div.item a {
    font-size: 16px !important; } }

@media (max-width: 1280px) {
  section.landingSection h2, h2.title {
    font-size: 48px !important; }
  a.blogPost h2 {
    font-size: 20px !important; }
  a.blogPost p {
    font-size: 15px !important; }
  div.navitems div.item a {
    font-size: 15px !important; } }

@media (max-width: 1024px) {
  h2.title {
    width: 70% !important;
    font-size: 44px  !important; }
  section.landingSection h2 {
    font-size: 42px !important; }
  a.blogPost h2 {
    font-size: 20px !important; }
  a.blogPost p {
    font-size: 15px !important; }
  div.navitems div.item a {
    font-size: 15px !important; } }

@media (max-width: 810px) {
  h2.title {
    width: 80% !important; } }

@media (max-width: 768px) {
  h2.title {
    font-size: 40px !important; }
  section.landingSection h2 {
    font-size: 40px;
    padding-top: 30px; }
  a.blogPost {
    margin: 7% auto;
    width: 85%;
    flex-direction: column-reverse; }
    a.blogPost div.column1 {
      width: 100%;
      position: relative;
      margin-top: 25px;
      padding-bottom: 30%;
      height: 130px; }
      a.blogPost div.column1 h2 {
        font-size: 20px !important; }
      a.blogPost div.column1 p {
        font-size: 14px !important; }
    a.blogPost div.image {
      width: 100%;
      height: 400px; }
    a.blogPost:nth-of-type(n) p.summary {
      width: 100%; }
    a.blogPost:nth-of-type(n):hover h2 {
      left: 0px;
      top: 1px; }
    a.blogPost:nth-of-type(n):hover p.summary {
      left: 0px;
      top: 40px; }
    a.blogPost:nth-of-type(n):hover:after, a.blogPost:nth-of-type(n):hover:before {
      height: 0%; }
  div.navitems div.item a {
    font-size: 14px !important; }
  span.innerpage.about div.content {
    flex-direction: column;
    overflow: hidden; }
    span.innerpage.about div.content div.panel {
      margin: 2% 1% 1% 1%;
      padding: 2% 2%;
      padding: 0%;
      width: 70%; }
      span.innerpage.about div.content div.panel:first-of-type {
        margin-top: calc(90px + 7.5%); }
      span.innerpage.about div.content div.panel:last-of-type {
        margin-bottom: calc(15px + 5%); }
      span.innerpage.about div.content div.panel h2 {
        margin-top: calc(3% + 20px);
        padding-left: 30px;
        display: inline-block;
        width: 100%; }
      span.innerpage.about div.content div.panel div.paneltext {
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 10%;
        display: inline-block;
        display: block;
        height: 0%;
        overflow: hidden;
        width: 100%; }
        span.innerpage.about div.content div.panel div.paneltext h3 {
          font-size: 140%; }
        span.innerpage.about div.content div.panel div.paneltext p {
          margin: 5px 0;
          font-size: 100%; }
      span.innerpage.about div.content div.panel:hover {
        width: 95%;
        height: 200%; }
        span.innerpage.about div.content div.panel:hover div.paneltext {
          height: auto; } }

@media (max-width: 640px) {
  h2.title {
    width: 90%  !important;
    padding: 0 6%;
    font-size: 42px !important; }
  div.homepage div.scrolldown {
    bottom: 5%;
    left: calc(5% + 15px);
    transform: translate(0%, 0); }
  div.homepage div.bubbles {
    bottom: 5%;
    right: 5%; }
    div.homepage div.bubbles div {
      margin: 0px 1%;
      width: 12px;
      height: 12px; }
  section.landingSection {
    width: 80%;
    margin: calc(8vh + 60px) auto calc(5vh + 60px) auto; }
    section.landingSection h2 {
      margin-top: 40px;
      font-size: 38px !important; }
  div.logo {
    padding-left: 5% !important;
    width: 70% !important; }
  div.navitems {
    padding-right: 5% !important;
    width: 30% !important;
    padding-left: 7.5% !important; }
    div.navitems div.burger {
      display: inline-block !important; }
    div.navitems div.item {
      display: none !important; }
      div.navitems div.item a {
        font-size: 14px; }
  a.blogPost {
    width: 90%; }
    a.blogPost div.column1 {
      width: 100%;
      margin-top: 25px;
      padding-bottom: 40%;
      height: 100px; }
      a.blogPost div.column1 h2 {
        font-size: 20px !important; }
      a.blogPost div.column1 p {
        font-size: 14px !important; }
    a.blogPost div.image {
      height: 340px; }
  footer {
    margin-top: 10px !important; } }

@media (max-width: 560px) {
  h2.title {
    width: 90%  !important;
    padding: 0 2%;
    font-size: 42px !important; } }

@media (max-width: 464px) {
  h2.title {
    width: 90% !important;
    padding: 0 1%;
    font-size: 38px !important; }
  section.landingSection {
    width: 90%;
    margin: calc(7vh + 60px) auto calc(0vh + 60px) auto; }
    section.landingSection h2 {
      margin-top: 40px;
      font-size: 34px !important; }
  a.blogPost {
    width: 90%; }
    a.blogPost div.column1 {
      width: 100%;
      margin-top: 25px;
      padding-bottom: 45%;
      height: 100px; }
      a.blogPost div.column1 h2 {
        font-size: 19px !important;
        position: relative !important; }
      a.blogPost div.column1 p {
        font-size: 13px !important;
        position: relative !important;
        top: 15px !important; }
    a.blogPost div.image {
      height: 260px; } }

@media (max-width: 395px) {
  h2.title {
    width: 90%  !important;
    font-size: 30px !important; } }

@media (max-width: 350px) {
  h2.title {
    font-size: 28px !important; }
  section.landingSection h2 {
    font-size: 28px !important; }
  a.blogPost div.column1 {
    margin-top: 25px;
    padding-bottom: 45%;
    height: 170px; }
    a.blogPost div.column1 h2 {
      font-size: 19px !important; }
    a.blogPost div.column1 p {
      font-size: 13px !important; }
  a.blogPost div.image {
    height: 220px; } }
